<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @transmission.date %>
</p>

<p>
  <strong>Program number:</strong>
  <%= @transmission.program_number %>
</p>

<%= link_to 'Edit', edit_transmission_path(@transmission) %> |
<%= link_to 'Back', transmissions_path %>
